@font-face {
	font-family: "Makinas";
	src: url("../font/makinas4/Makinas-4-Flat.otf") format("opentype");
}
#font-normal{
	font-weight: 200;
}
.font-white{
	color: white;
}
#body{
	font-family: "Makinas";
	margin: 0;
}

html{
  scroll-behavior: smooth;
}
a {
    text-decoration:none;
   color: #2B1A17;
}
.shiori{
	width: 209px;
	height: 145px;
	background-color: #FFFF41;
	position: fixed;
	z-index: 15;
	left: 0px;
    transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
  	transform-origin: top right;	
  	top: -38px;
  	opacity: 0;
}
.shiori a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
#title{
    background: #FFFF41;
    display: block;
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;

}
#title p{
	position: absolute;
	display: block;
	top: 10%;
	left: 27%;
	font-size: 25px;
	z-index: 10;
	transform: skewY(10deg);
  -ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
  transform-origin: top left;	
  font-weight: bolder;
  color: #2B1A17;
}
.titlep{
	opacity: 0;
}
/* reset */
button{
	background:transparent;
	border:none;
	cursor:pointer;
	outline:none;
	padding:0;
	appearance:none;
	font-family: "Makinas";
}
.menu-box{
	position: fixed;
  	width: 210px;
  	height: 272px;
	margin:52px 0 0 0;
	z-index: 10;
	display: block;
	border-radius: 10%;
}
.menu{
	opacity: 0;
}
ul{
	list-style-type:none;
	padding:0;
	list-style: none;
	width: 209px;
  	z-index: 10;
  	position: fixed;
    background: #FFFF41;
    transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
  	transform-origin: top right;
  	padding-top: 22px;
}
li {
  	overflow: hidden;
	width: 100%;
	height: 58px;
	position: relative;
	display: none;
	font-size: 25px;
	z-index: 10;
	text-align: center;
  	font-weight: bolder;
  	margin-top: 0;
  	transform: skewY(10deg);
   	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
  	transform-origin: top left;
}
li,a{
	margin: 0;
	text-align: center;
}
/* reset */
#menu-sercret{
	height: 58px;
}
#menu-first{
	z-index: 20;
}
#menu-last{
	padding-bottom: 38px;
}
/*----上記までが栞----*/
.box-Adjustment{
	top: -180px;
}
#slash-00{
	position: relative;
	height: 66px;
}
#slash-01{
	position:relative;
	height: 200px;
	width: 100%;
	transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	transform-origin: top right;
	z-index: 5;
	margin-top: 470px;
}
#slash-02{
	position: relative;
	height: 550px;
	width: 100%;
	margin-top: 220px;
	transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	transform-origin: top right;
	background-color: #4BD323;
	z-index: 5;
}
#slash-03{
	position: relative;
	height: 700px;
	width: 100%;
	transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	transform-origin: top right;
	z-index: 5;	
	margin-top: 300px;
}
#slash-04{
	position: relative;
	height: 550px;
	width: 100%;
	transform: skewY(10deg);
   	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	transform-origin: top left;
	background-color: #4BD323;
	z-index: 5;	
}
#slash-05{
	display: block;
	position: relative;
	z-index: 4;
	background-color: #2B1A17;
}
.copyright{
	height: 20px;
	width: 120px;
	z-index: 10;	
	padding: 4px;
	margin: 0;
	color: white;
	font-weight: bold;

	position: absolute;
}
.content-box{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.h2-title{
	font-size: 88px;
	font-weight: normal;
}
.font-normal{
	color: #2B1A17;
}
.sentence{
	font-size: 20px;
	line-height: 35px;
}
#box-001{
	position: relative;
	transform: skewY(10deg);
   	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	transform-origin: top right;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-size: 88px;
	text-align: center;
}
#box-002{
	position: relative;
	transform: skewY(10deg);
   	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	transform-origin: top right;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	padding-top: 192px;
	text-align: center;
}
#box-002 H2 {
	margin-bottom: 40px;
}
#box-003{
	position: relative;
	transform: skewY(10deg);
   	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	transform-origin: top right;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	text-align: center;
}
#box-003 h2{
	font-size: 80px;
	margin-bottom: 70px;
}
.itembox{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.item{
    border: none;
    margin: 14px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.item img {
	border: #3D3E36 8px solid;
	border-radius: 50%;
	width: 150px;
    height: 150px;
    display: block;
    max-width: 100%;
}
.member-name {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: transparent 8px solid;
    width: 150px;
    height: 150px;
    overflow: hidden;
    z-index: 4;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border-color: #2B1A17;
}
.name-box{
	width: 100%;
	height: 46px;
	display:table;
  	text-align:center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.line-height {
	height: 32px;
	margin: 0;
	padding: 7px 0 7px 0;
	font-weight: bold;
	background: rgba(15,17,19,0.7);
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display:table-cell;
  	vertical-align:middle;
}
#box-004{
	position: relative;
	transform: skewY(-10deg);
   	-ms-transform: skewY(-10deg);
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	transform-origin: top left;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 170px;
	font-size: 88px;
	text-align: center;
}
#box-004 H2 {
		margin-bottom: 40px;
}
.animation {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
	-ms-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
}
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
}
.link:hover {
	opacity: 0.7;
	transition: 0.3s;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  padding: 30px 30px;
  /*max-width: 500px;*/
  background-color: #fff;
  border-radius: 50px;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

#openModal001 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#openModal002 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#openModal003 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#openModal004 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#openModal005 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#modalBg001,#modalBg002,#modalBg003,#modalBg004,#modalBg005{
	border-radius: 50px;
}

/*メディアクエリ*/
@media screen and (max-width:1024px) {
	.h2-title {
		font-size: 1em;
	}
	.shiori {
  	  width: 100%;
  	  height: 100px;
  	  background-color: #FFFF41;
    	position: fixed;
    	z-index: 15;
  	  left: 0px;
  	  top: 0;
  	  transform: none;
  	  display: block;
	    text-align: center;
	}
	#title p {
  	  position: relative;
    	display: inline-block;
	    top: 0;
	    left: 0;
  	  font-size: 25px;
    	z-index: 10;
	    transform: none;
	    font-weight: bolder;
	    margin: 0 auto;
	    width: 100%;
	}
	.menu-box {
		display: none;
	}
	#slash-00{
		height: 100px;
		transform: none;
	}
	#slash-01{
		height: auto;
		transform: none;
		margin: 150px 0 0 0;
	}
	#slash-02 {
		height: auto;
		transform: none;
		margin: 150px 0 0 0;
	}
	#slash-03 {
		height: auto;
		transform: none;
		margin: 110px 0 0 0;
	}
	#slash-04 {
		height: auto;
		transform: none;
		margin: 110px 0 0 0;
	}
	#box-001 {
		transform: none;
		width: 100%;
	}
	#box-002 {
		transform: none;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.font-adjustment{
		font-size: 5em;
	}
	#box-003 {
		transform: none;
		width: 100%;
	}
	#box-004 {
		transform: none;
		width: 100%;
		padding-top: 44px;
	}
	#box-004 p {
		margin-bottom: 0;
		padding-bottom:64px;
	}
	.box-Adjustment {
		top: 0;
	}
	#modalBg001, #modalBg002, #modalBg003, #modalBg004, #modalBg005 {
	    border-radius: 0;
	}
	#slash-05{
		height: 45px!important;
		text-align: center;
	}
	.copyright{
		width: 100%;
		padding: 12px 0 0 0;
		margin: 0!important;
	}
	.modalWrapper {
		top: 50%;
	}
}
/*パーティクルJS*/
#particles-js {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: 0;
opacity: 0;
}
/*初動表示隠し*/

.modalBg	{
	height: 0!important;
	z-index: 10;

}
.modalWrapper{
	background-color: rgba(30,30,30,0.98)!important;
	color: white;
	z-index: 5;
}
.modalContents-box{
	width: 100%;
}
.modalContents img {
	width: 50%;
	float: left;
	border-radius: 6%;
}
.modalContents h1 {
	width: 100%;
	float: right;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 22px;
}
.modalContents-box p {
	width: 46%;
	float: right;
	font-size: 20px;
	margin-top: 0;
}


/*追記*/
@media screen and (max-width:1024px) {
	.modalContents h1 {
		margin-top: 2%;
	}
	.modalContents-box img {
		width: auto;
		max-height: 200px;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 4%;
		float: none;
		font-size: 15px;
	}
	.modalContents-box p {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 0;
		font-size: 15px;
	}
}
/*追記-スマホ版トップ画面対応*/
@media screen and (max-width:1024px) {
	#shiori-box {
		padding-bottom: 0!important;
	}
	#title{
		height: 88%;
	}
	#slash-01{
		margin-top: 0;
	}
	#box-001 {
		top: 36%;
	}
	#box-001 h2 {
		margin: 0;
	}
	#slash-02 {
		margin-top: 0;
	}
	.top-normmal{
		display: none;
	}
	.top-sumaho {
		display: block;

	}
}
@media screen and (min-width:1025px) {
	.top-normmal{
		display: block;
	}
	.top-sumaho {
		display: none;
	}
}




/*追記-スマホ版トップ画面対応*/